# ## Dependencias de Node.js ##
# La carpeta node_modules contiene todos los paquetes descargados.
# Se puede regenerar en cualquier momento ejecutando "npm install".
/node_modules

# ## Archivos de Configuración y Secretos ##
# ¡MUY IMPORTANTE! Ignora el archivo que contiene tus credenciales de la API.
# Esto previene que subas tus secretos a GitHub.
config.js

# ## Archivos Generados ##
# Ignora el archivo SQL que se genera cada vez que ejecutas el script.
# No es parte del código fuente, sino un resultado de su ejecución.
output_cie11_inserts.sql

# ## Logs ##
# Ignora los archivos de log que pueden generar npm o tu aplicación.
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# ## Archivos del Sistema Operativo y Editores de Código ##
# Archivos específicos de macOS, Windows y editores como VSCode o WebStorm.
.DS_Store
Thumbs.db
.idea/
.vscode/